@model ItCareerExam.Web.DTOs.Bars.BarDTO
@{
    ViewData["Title"] = "Details";
}

<div class="card light-shadow m-0 m-auto col-5">
    <div class="img-fluid text-center mt-1">
        <img class="card-img-top img-fluid" style="width: 20rem" style="object-fit: contain" src="@Model.Photo" alt="Person image">
    </div>
    <input type="hidden" class="Id" value="@Model.Id" />
    <div class="card-body">
        <h5 class="card-title">Bar details:</h5>
        <div>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <hr />

        <br />
        <a asp-action="Index">
            <button class="btn btn-primary">
                <i class="fas fa-backward"></i> Back to List
            </button>
        </a>

        <a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id">
            <button class="btn btn-success">
                <i class="fa-solid fa-star"></i> Write a review
            </button>
        </a>

        @if (User.IsAdmin())
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">
                <button class="btn btn-warning">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </a>

            <button class="btn btn-danger deleteBar">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        }
    </div>
</div>
<script src="~/js/deleteScript.js"></script>
<script>
    setupDeleteConfirmation('.deleteBar', 'Bars', 'bar');
</script>

